body {
    margin: 0;
    padding:10px;
    min-width:600px;
    min-height: 200px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    color: #0f000e;
}
input,select,button {
    font-family: 'Open Sans', sans-serif;
}
.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flexitem {
    padding:5px;
    flex: 1;
}
.flexrow {
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flexcolumn {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.colorindicator {
    width:20px;
    margin-right:10px;
    min-height: 20px;
}
.environment {
    border-bottom: 2px solid;
}
#environmenturl {
    width:300px;
}

.flexitem div {
    margin-bottom: 5px;
}
#environments div.flexitem {
    border:1px solid #e4e4e4;
}
#environments :hover {
    cursor: pointer;
    background: springgreen;
}

input {
    width: 100%;
}

input:focus:invalid {
  outline: none;
}

.hidden {
    display: none;
}

#main input.error
{
	background-color: pink; 
	background-position: 379px 3px;
	outline: none; 
}
#main input.required
{
	background-color: #fff; 
	background-position: 379px -29px;
}
#main input.valid
{ 
	background-color: #fff;
	background-position: 379px -61px;
}
#main fieldset input:required:valid
{ 
	background-color: #fff;
	background-position: 379px -61px;
}

.error {
    padding:10px;
    background:#da9ea7;
    margin-bottom:10px;
    border:1px solid #0a0a0a
}